* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #33FFBD;
}

.content__wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert {
    margin-top: 15px;
    text-transform: uppercase;
}

button:active {
    border-style: outset;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    min-height: 500px;
}

.content__title, .content__example, .content__form, .result__wrapper {
    padding: 20px;
}

.result__wrapper a {
    background-color: limegreen;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
    color: white;
    text-transform: uppercase;
}

.result__wrapper {
    text-align: center;
}

.content__title {
    text-align: center;
}

.preloader__wrapper {
    display: flex;
    justify-content: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content__example {
    display: flex;
    justify-content: space-around;
}

h3 {
    text-align: center;
}

.arrow {
    width: 60px;
    height: 60px;
    border-top: 10px solid black;
    border-right: 10px solid black;
    transform: rotate(45deg);
    align-self: center;
    margin: 0 50px 0 20px;
}

form {
    display: flex;
    justify-content: space-around;
}


button, input {
    border: none;
    outline: none;
    padding: 10px;
}

button:focus, input {
    border: none;
    outline: none;
}

button {
    background-color: #33FF57;
    border-radius: 3px;

}